* {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
     background-color: rgba(195, 0, 244, 0.3);
     display: flex;
     justify-content: space-between;
     align-items: center;
     color: white;
}

nav > a {
    color: white;
    text-decoration: none;
    margin-left: 40px;
}

nav > a:hover{
    color:rgb(32, 255, 181);
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

footer {
    background-color: rgba(207, 13, 255, 0.3);
    text-align: center;
}

.form {
    margin: 0 auto;
    display: block;
    justify-content: space-between;
    width: 50%;
    margin-top: 20px;
}

.form-input{
    width: 100%;
    margin-bottom: 10px;
    background-color: rgba(232, 229, 229,) ;
}

.form-button{
    width: 45%;
    background-color: rgb(228, 197, 25);
    color: rgb(131, 63, 241);
}

.btn-form {
    display: flex;
}